@import "../../styles/variables";

.new-ticket {
  margin: auto;
  max-width: 700px;
  background-color: $ticket-form-bg-color;
  .header {
    background: linear-gradient(to bottom, $ticket-header-bg-color-dark 0%, $ticket-header-bg-color-light);
    color: $ticket-header-text-color;
  }
  .cell {
    padding: 8px;
  }

  .ticket-btn {
    margin: 10px;
    padding: 4px;
    float: right;
  }
}

// To avoid date picker ui issue
.ms-DatePicker button {
  min-width: 0px !important;
}
